@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 4rem;
}

/* * {
  outline: 1px solid red;
} */

#toggle-button::before,
#toggle-button::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 0.18rem;
  border-radius: 0.1rem;
}

#toggle-button::before {
  transform: translateY(-5px);
  transition: 300ms;
}

#toggle-button::after {
  transform: translateY(5px);
  transition: 500ms;
}

#toggle-button.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle-button.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#bg-blurred.active {
  width: 100%;
}

#mobile-menu.active {
  right: 0;
}

body.active {
  overflow: hidden;
}
